#find_flex{
    display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;
}
#file_delete{
    margin-bottom: 5px;
}
#table{
    border:1px #FFAC55 solid;
    margin-bottom: 5px;
}
#find_select{
    margin-right: 5px;
}
#find_text{
    margin-right: 5px;
}
#new_table{
    margin-top: 20px;
}
#file{
    margin-bottom: 5px;
}